{% extends 'base.html.twig' %}

{% block title %} A propos {% endblock %}

{% block body %}
<section class="main-section simple-message">
    <div>
        <h1 class="headingband">A propos de ce blog ...</h1>
        <div class="readable-text">
        <p>Le blog que vous consultez a été conçu <i>from the ground up</i> 
            en PHP sous <a href="https://startpage.com/do/metasearch.pl">Symfony</a>.
            Il fait appel à <a href="https://ckeditor.com/">ckeditor</a> pour implémenter les textarea wysiwyg.
        L'application et ses spécifications, disponibles sur <a href="https://github.com/GabrielPoint">GitHub</a>, peu paraître légèrement <i>overkill</i> : 
        compte-tenu de l'utilisation que j'en fait et de son audience (multiple user_role et contraintes d'accès avec système de voters concurrentiels, 
        fonctionnalités d'édition étendues,  <i>forum browsing</i>, recherche, et <i>website statistics</i> etc.), et c'est justement l'idée.</p> 
        <p>Ce blog est <b>avant-tout</b> une vitrine, et un moyen de joindre l'utile à l'agréable (apprendre à maîtriser le framework web Symfony, 
            et designer un site personnel de A à Z en se passant d'un CMS).
        La partie webdesign, et les assets qui ne proviennent pas de <a href="https://fontawesome.com/">fontawesome</a> ont été réalisés à la main,
        en assurant un recours minimal aux front-end frameworks comme bootstrap, <i>bulma</i> ou <i>SASS</i> de peur d'oublier définitivement comment paramétrer ma mise en page en CSS pur 
        (ce qui reste parfois très utile).  
        <i>Not a small feat</i> pour quelqu'un dont le corps de métier tient à l'origine davantage de la programmation pure. Mais j'essaye de profiter de mes projets pour
    <b>vraiment toucher à tout. </b> </p>
        <p>C'est d'ailleurs à la fois le thème et l'objectif de ce blog. En effet, si je me suis enfin décidé à le concevoir, c'est avant-tout pour 
            réaliser la démonstration de mes capacités à tacler un nouvel environnement de programmation comme Symfony. <br/>
            Lorsque j'ai démarré ce projet (fin juillet 2018), je n'avais plus trop touché de code depuis quelques années, 
            et encore moins un framework MVC un peu massif comme Symfony (j'avais déjà eu de l'expérience sur Zend Framework).</p>

        <p>Titulaire d'un D.U.T. d'informatique, j'avais pris de la distance avec le monde de la programmation ces dernières années,
            et-ce avant-tout pour étendre mes horizons intellectuels. 
            Me replonger dans le monde -particulièrement effervescent- de l'informatique après tout ce temps est donc un sacré challenge,
            que je compte bien remporter, et dont je compte tenir le registre ici. ;)
        </p>

            <p>
                Ce premier projet est donc l'occasion d'introduire cet effort, mais aussi de partager son avancement avec tout un chacun,
                et de communiquer sur les (nombreux) thèmes qui font partie de mes centres d'intérêt.
            </p>
        <p>Et si vous m'avez déjà lu jusque là, ça commence plutôt bien ! :)</p>
    </div>
    </div>
</section>

{% endblock %}