{% extends 'base.html.twig' %}

{% block title %} Informations légales {% endblock %}

{% block body %}
<section class="main-section simple-message">
    <div>
        <h1 class="headingband">Informations légales</h1>
        <div class="readable-text">
        
    </div>
    </div>
</section>

{% endblock %}