{% extends 'base.html.twig' %} {% block title %} Inscriptions réussie ! {% endblock %} {% block body %}

<section class="main-section simple-message">
    <div>
        <h1 class="headingband">Règles de modération</h1>
        <p>Si c'est avec grand plaisir que nous recevons ici vos contributions écrites, la participation aux espaces de discussion
            et d'expression de ce blog doit s'accompagner du respect d'un certain nombre de règles standard d'expression
            en communauté. </p>
        <p> Tout d'abord, vous vous engagez à faire l'effort de vous
            <b class="black">exprimer correctement</b> et en bon français, par respect pour vous comme pour les autres, et afin de maintenir
            un espace de discussion lisible.</p>
        <p>A l'évidence, vos propos tenus ici comme ailleurs doivent
            <b class="black">respecter la réglementation en vigueur</b>, et toute infraction aux lois contraignant votre liberté d'expression
            (insultes, partage de contenu à caractère pornographique) pourra être naturellement sanctionnée d'un recours
            en justice.
        </p>
        <p>Prenez conscience que vous vous impliquez vous-même autant que vous impliquez les autres sur un espace numérique,
            et bien que le web semble être un espace déshumanisé, il n'en est pas moins ancré dans la réalité où il est soumis
            aux lois de la contingence et aux contraintes sociales.
            <br/>Gardez ceci à l'esprit, faites preuve de bienveillance et de courtoisie vis à vis de vos pairs, et tout se passera
            au mieux.
        </p>
        <p>Le "spam", "flood", ou
            <b class="black">toute répétition de messages</b> identiques ou fortement similaires, que ce soit afin d'obtenir de l'attention
            ou manifester une présence continue sur un sujet, seront punis de sanctions allant jusqu'à la suppression du
            compte utilisateur et le bannissement de l'adresse IP.
        </p>
        <p>Si vous vous exprimez sur un sujet, prenez l'habitude d'argumenter vos propos et de dûment les sourcer. Il est important,
            et-ce avant-tout pour vous-même, de maintenir un standard de qualité dans les discussions.
            <br/> Cela veut dire faire preuve d'ouverture d'esprit et d'être capable de prendre le recul épistémologique nécessaire
            à la remise en cause de ses idées, et cela passe par une remise en cause continuelle de ses biais personnels,
            et un effort sincère pour envisage, comprendre, et tenter de s'approprier momentanément des idées antagonistes.
        </p>
        <p>Sachant cela, nous vous souhaitons de bons moments de discussion sur les plates-formes de communication de ce site.</p>

        <p>Cordialement, Gabriel.
        </p>
    </div>
</section>

{% endblock %}