{% extends 'base.html.twig' %}

{% block title %} Inscriptions réussie ! {% endblock %}

{% block body %}

<section class="main-section simple-message">
    <div>
        <h1 class="headingband"></h1>
        <p>Votre compte a bien été supprimé.</p>
        <p>Nous ne désespérons néanmoins pas de vous revoir au plus vite sur nos espaces de discussion.</a></p>
    </div>
</section>

{% endblock %}