.formarticle {
    background: var(--main-bgcolor);
    color : white;
    text-align: left;
    font-size: 18px;
    padding-bottom: 50px;
    padding-top: 30px;
    padding-right: 5em;
    margin-right : 6%;
    padding-left : 5em;
    margin-left : 6%;
}

/* Register */

#register form div {
    display: block;
    margin:5px;

}

.formarticle form button {
    display:block;
    
    margin-top: 20px;
    margin-bottom: 15px;
}

.formarticle form label {

    left:68%;  
}

.formarticle form div input {
    position: absolute;
    left:30%;
    width:20em;
}
.formarticle form div textarea {
    position: absolute;
    left:30%;
    height:6em;
    width:25em;
}