/* Global */

:root {
    --main-bgcolor: #343a40;
    --secondary-bgcolor: #f1e0e0;
    --main-a-color: rgb(255, 222, 206);
    --main-a-hovercolor: rgb(196, 149, 125);
    --secondary-a-hovercolor: rgb(48, 0, 0);
    --semiopaquewhite : rgba(255, 255, 255, 0.5);
    --main-font: 'Archivo Narrow', sans-serif;
    --secondary-font: 'Nunito Sans', sans-serif;
}

a {
    text-decoration: none;
    color: var(--main-a-color);
}

a:hover {
    color: var(--main-a-hovercolor);
}

.bouton {
    background: #282d31;
    color: white;
    border: 0.5px solid black;
    text-decoration:none;
    padding:5px;
}

.bouton:hover {
    background: #2b3035;
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    cursor: pointer;
    color: var(--main-a-color);
}

.interrupteur-active {
    color:white;
}

.interrupteur-active:hover {
    color:rgb(92, 89, 89);
}

.interrupteur-inactive {
    color:rgb(95, 92, 92);
}


.url-link {
    text-decoration:none;
    color:var(--main-a-color);
}

.url-link:hover {
    color: var(--main-a-hovercolor);
    cursor: pointer;    
}

.img-centered {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    background-image: url('../images/diogenes_color.jpg');
    background-repeat: repeat-y;
    background-attachment: scroll;
    background-position: top;
    padding-bottom:0px;
    margin:0;
    font-family: var(--main-font);
}

h1, h2, h3, h4, h5, h6 {
    text-align:center;
    margin-top:10px;
    margin-bottom:10px;
    font-size: 25px;
}

.resp-hsize {
    font-size: 28px;
}

.plain-text {
    font-family: var(--secondary-font);
    font-size: 16px;
}

.headingband {
    background: var(--main-bgcolor);
    color:var(--main-a-color);
    text-align: center;
    font-family: var(--main-font);
}

/* Header */
.header-content {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    height: 70px;
    line-height: 70px;
    background: var(--main-bgcolor);
    z-index:1;
    position: fixed;
    top: 0;
    font-weight: bold;
    font-size:25px;
    color: var(--main-a-color);
}

.header-logo a {
    margin-right: 10px;
    margin-left : 5px;
    color:var(--main-a-color);
}

.header-logo a:hover {
    color: var(--main-a-hovercolor);
}

.header-content .header-logo {
    color: var(--main-a-color);
    float: left;
    margin-left: 30px;
}

.header-menu li {
    display: inline-block;
    transition-duration: 0.5s;
   }
   
   li:hover {
     cursor: pointer;
   }


.burger {
    float: right;
    color:var(--main-a-color);
    margin-right: 30px;
    display:none;
}

.burger-content {
    background-color:  var(--main-bgcolor);
    color:var(--main-a-color);
    font-weight: bold;
    text-align: left;
    font-size:25px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding:0;
    padding-top:5px;
    padding-left:15px;
    position: absolute;
    right: 0;
    display:none;
}

.burger-content li {
    display: block;
    margin-top:3px;
    margin-bottom:3px;
}

.header-content .burger:hover {
    cursor: pointer;
    color: var(--main-a-hovercolor);
}

.burger:hover .burger-content {
    visibility: visible;
    opacity: 1;
    z-index:10;
    display:block;
}

.header-content nav .header-menu {
    float: right;
    padding:0px;
    margin:0px;
    margin-right: 30px;
}

.header-content nav .header-menu a {
    margin-right: 15px;
}

/* Menu dropdown user */

#user_avatar {
    max-width: 90px;
    min-width : 90px;
    margin:auto;
    display:block;
    border:1px solid black;
}

.dpdwn-profile {
    line-height: 37px;
}

.dpdwn-profile a {
    padding: 0; margin:0; display: block;
}

/* Search icon */

.header-logo li {
    display: inline-block;
    transition-duration: 0.5s;
   }
   
   li:hover {
     cursor: pointer;
   }

.search-icon {
    color:var(--main-a-color);
    margin-left: 5px;
}

.search-form-sm {
    background-color:  var(--main-bgcolor);
    color:var(--main-a-color);
    font-weight: bold;
    font-family: var(--main-font), sans-serif;
    text-align: left;
    font-size:25px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding:0;
    padding-right:15px;
    position: absolute;
    left: 0;
    display:none;
}

.search-form-sm form {
    display: block;
    margin-top:3px;
    margin-bottom:10px;
    margin-left: 15px;
    line-height: 100%;
}

.search-form-sm form label {
    font-size: 14px;
    color: var(--main-a-color);
    display: block;
}

.search-icon:hover .search-form-sm {
    visibility: visible;
    opacity: 1;
    z-index:10;
    display:block;
}

.header-content .header-logo {
    float: left;
    padding:0px;
    margin:0px;
    margin-left: 30px;
}

.header-content .header-logo a {
    margin-left: 15px;
}

/* Connexion Dropdown */

.connexion-icon {
    position: relative;
    display: inline-block;
}

.connexion-dropdown {
    display: none;
    position: absolute;
    right:-5em;
    background-color: var(--main-bgcolor);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.247);
    padding: 12px 16px;

    z-index: 1;
    font-size:16px;
    top:70px;
    padding-top : 0;
    text-align:center;
}

.connexion-dropdown form {
    line-height: 100%;
}

.connexion-dropdown form input {
    margin-bottom: 10px;
    margin-top: 5px;
}

.connexion-icon:hover .connexion-dropdown {
    display: block;
}

.register {
    margin-left:6px;
}

/* Banner */
.banner {
    background-color: rgba(255, 255, 255, 0.75);
    margin-top: 70px;
    position: relative;
    margin-bottom:0;
}

.banner .banner-content {
    margin-bottom: 20px;
}

.banner .banner-content .banner-categories {
    position: absolute;
    color: var(--main-bgcolor);
    text-align: center;
    font-family: var(--main-font), sans-serif;
    margin-top: 0.6em;
    padding-bottom:20px;
}

.banner .banner-content .banner-categories a {
    color: var(--main-bgcolor);
}

.banner .banner-content .banner-categories a:hover {
    color: var(--main-a-hovercolor);
}

/* MAIN SECTION */

.main-section {
    margin-right: 15%;
    margin-left : 15%;
    margin-top: 35px;
    margin-bottom: 20px;
    padding-bottom : 1.2em;
    background : var(--main-bgcolor);
    color: black;
}

/* Simple message */

.simple-message{
    padding-left:3em;
    color:white;
    padding-top:1em;
}

.black
{
    color:var(--main-a-hovercolor);
}

/* Footer */

footer {
    background-color:  var(--main-bgcolor);
    color:white;
    border: 1px black solid;
    margin-top:50px;
    margin-bottom:0px;
}

/* Responsive */

@media screen and (min-width: 1300px) {
    .banner .banner-content .banner-categories {
        width:1100px;
        top: 67%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 50px;
        
    }
}
    
 @media screen and (max-width: 1300px) {
    .main-section {
        margin-left:3%;
        margin-right:3%;
    }

.banner .banner-content .banner-categories {
    top: 55%;
    width:100%;
    font-size: 4vw;
}
}

@media screen and (max-width: 800px) {
    .main-section {
        margin-left:2%;
        margin-right:2%;
    }

    .Commentlist {
        font-size : 2.6vw;
    }

    .main-section {
        margin-right: 10px;
        margin-left: 10px;
    }

    .resp-hsize {
        font-size: 4vw;
    }

    .dispensable {
        display:none;
    }

    div.header-content nav ul.header-menu li.burger {
        display:block;
    }

    div.header-content nav ul.header-menu li.menu-itm-xl {
        display:none;
    }
}

@media screen and (min-width: 800px) {
    .dispensable {
        display:inline-block;
    }

    div.header-content nav ul.header-menu li.burger {
        display:none;
    }

    div.header-content nav ul.header-menu li.menu-itm-xl {
        display:inline-block;
    }
}
