label {
  color: var(--main-a-color);
}

button {
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  display: block;
  margin-top: 2em;
}

.full-page-form {
  background: var(--main-bgcolor);
  padding: 3em;
}

.full-page-form h1 {
  margin-bottom: 1.5em;
  margin-top: 0;
}
