{% extends 'base.html.twig' %}

{% block title %} Login {% endblock %}

{% block body %}

<section id="connexion-form" class="main-section">
        <form action="#">
                <label for="login">Login :</label>
                <input name="login" type="text">
                <label for="password">Mot de passe :</label>
                <input name="password" type="password">
                <button type="submit" onclick="" class="bouton">
                    Connexion
                </button>
                <p>Pas encore d'identifiants ?<a href="" class="register url-link">S'inscrire</a></p>
                <p>Oublié votre mot de passe ?<a href="" class="register url-link">En demander un nouveau</a></p>
                </form>
                <div class="icon-form"><i class="fas fa-user"></i> </div>
</section>

{% endblock %}